.dark{
color: darkblue;
}
div > p{
    font-size: bold;
    color:blue;
}
p:hover{
    font-size: 20px;
    cursor: pointer;
}
input[type="text"]{
    border: 2px solid green;
}
a[href^="https://"]{
    text-decoration: none;
}

/* iniciamos por reglas o estilosgenerales*/

/*